.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

.nav > a {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}

.article-slider {
  background-image: url("../img/article1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-article-caption {
  background: linear-gradient(90deg, rgba(0,0,0,0.8) 50%, rgba(0,0,0,0.1) 95%, rgba(0,0,0,0.0) 100%);
}

.logo {
  max-width: 70px;
}

.nearest-match-list {
  list-style-type: none;
}


.league-table > tbody > tr > td {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 0.5rem;
}

.league-table > tbody > tr > td:nth-child(1),
.league-table > tbody > tr > td:nth-child(3),
.league-table > tbody > tr > td:nth-child(4){
  text-align: center;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-fixed-420 {
  height: 420px;
}

.article-carousel-caption {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(41,41,41,1) 50%, rgba(41,41,41, 0.5) 85%, rgba(0,0,0,0) 100%);
}

.carousel-control {
  display: flex;
  position: absolute;
  top: unset;
  bottom: unset;
  width: 35px;
  height: 35px;
  background: #006643;
  opacity: 1 !important;
}

.carousel-controls {
  position: absolute;
  bottom: 60px;
  right: 60px;
}

.h-250 { min-height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { min-height: 250px; }
}

.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
