.matchesTable {
    margin-right: 50px;
    margin-top: 40px;
}

form {
    width: 100%;
}

.narrativesTable {
    margin-top: 40px;
    margin-right: 50px;
    float: right;
    width: 710px;
}

.narrativeItemsTable {
    margin-top: 40px;;
}

